---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/Linkendin.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import GmailIcon from "../components/icons/Mail.astro";
import ImagenSope from "../../public/imagen/sergio.jpeg";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
---

<Layout
  title="Portafolio de Sergio - Desarrolador y Programador Web"
  description="Contrata a SergioDev para crear tus aplicaciones web y contenido. Estudiante de la Tecnicatura Universitaria en Programación - UTN"
>
  <main class="px-4">
    <SectionContainer class="py-43 pb-32">
      <div class="flex md:justify-start justify-center items-center">
        <img
          class="rounded-full size-12 mb-4"
          src={ImagenSope.src}
          alt="sergio photo"
        />
      </div>
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hola, soy Sergio <a
          href="https:www.linkedin.com/in/sergio-alejandro-sopelana-b756aa290"
          target="_blank"
          rel="noopener noreferrer"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>

      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span class="text-red-200/90">
          Estudiante de la Tecnicatura Universitaria en Programación - UTN.</span
        ><span class="opacity-80">
          Busco mi primer empleo como frontend</span
        >.<span class="text-yellow-200/90"> Desarrollador Web</span>. De San
        Ramón de la Nueva Orán - Salta, Argentina 🇦🇷.<br />
        <span class="text-gray-400/90">
          Apasionado por el desarrollo web, con ganas de aprender y crecer en el
          ámbito profesional.</span
        >
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill
          href="https:www.linkedin.com/in/sergio-alejandro-sopelana-b756aa290"
        >
          <LinkedInIcon class="size-4 md:size-6" />
          LinkenIn
        </SocialPill>
        <SocialPill href="https://github.com/SASOPELANA">
          <GitHubIcon class="size-4 md:size-6" />

          GitHub
        </SocialPill>
        <SocialPill href="mailto:sopekof@gmail.com">
          <GmailIcon class="size-4 md:size-6" />

          sopekof@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <section>
        <h2 class="text-3xl font-semibold mb-4 flex gap-3 items-center">
          <Briefcase class="size-7" />
          Experiencia en desarrollo web. Freelance.
        </h2>
        <Experience />
      </section>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <section>
        <h2 class="text-3xl font-semibold mb-4 flex gap-3 items-center">
          <CodeIcon class="size-7" />
          Proyectos
        </h2>
        <Projects />
      </section>
    </SectionContainer>
  </main>
</Layout>
