---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    title: "Curso de Desarrollo Web con HTML, CSS Y JS. Astro y Tailwind CSS",
    date: "Agosto 2024",
    description:
      "El Curso de Frontend de Talento Tech es un programa completo que cubre los fundamentos y técnicas avanzadas de desarrollo web, centrándose en HTML, CSS y JavaScript. A través de clases teóricas, ejemplos prácticos y ejercicios, los estudiantes aprenden a crear interfaces web modernas, responsivas e interactivas. El curso incluye recursos como herramientas CSS, configuraciones de Node.js y proyectos integradores para aplicar los conocimientos adquiridos. Con un enfoque práctico, los participantes desarrollan habilidades para diseñar y programar sitios web eficientes y atractivos. Al finalizar, estarán preparados para enfrentar desafíos reales en el desarrollo frontend.",
    link: "https://github.com/SASOPELANA/Talento_Tech",
  },
  {
    title: "Estudiante de la Tecnicatura Universitaria en Programación - UTN",
    date: "Febrero 2024",
    description:
      "En Programación 1 y 2 de la UTN, aprendí los fundamentos de C++, desde variables, condicionales y ciclos, hasta memoria dinámica, punteros, estructuras de datos y programación orientada a objetos (POO). Durantes los cuatrimestres, incluyó ejercicios prácticos, trabajos en equipo y trabajos integradores finales, donde aplicamos los conocimientos para resolver problemas complejos y desarrollar aplicaciones completas. Utilicé bibliotecas estándar, manejo de archivos y técnicas de depuración, reforzando habilidades técnicas y de colaboración. Como resultado, adquirí una base sólida para diseñar soluciones robustas y trabajar eficientemente en equipo.",
    link: "https://github.com/SASOPELANA/Programacion2/tree/main",
  },

  {
    title: "Estudiante Autodidacta",
    date: "Mayo 2023",
    description:
      "Curso introductorio de C# enfocado en los fundamentos de la programación, desde conceptos básicos como variables y condicionales hasta temas avanzados como funciones, vectores y matrices. Através de este curso me inicie en la Programación, adquiriendo las bases solidas y necesarias para desarrollar aplicaciones simples de consolas. Impartido por MaxiPrograma, profesor de la UTN.",
    link: "https://github.com/SASOPELANA/curso-de-c-",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
