<footer
  class="rounded-lg shadow m-4 bg-black/20 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-10"
>
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span
      class="text-sm sm:text-center text-yellow-200/90 text-center block w-full md:w-auto md:text-left"
      >© 2025 <span class="hover:text-white hover:font-bold">
        <a
          href="https://github.com/SASOPELANA"
          target="_blank"
          rel="noopener noreferrer">SergioDevs</a
        ></span
      >. Todos los derechos reservados.
    </span>
    <ul
      class="flex flex-wrap justify-center items-center mt-3 text-sm font-medium text-white/90 sm:mt-0"
    >
      <li>
        <a href="#" class="hover:font-bold me-4 md:me-6">Sobre mi</a>
      </li>

      <li>
        <a href="#" class="hover:font-bold">Contactos</a>
      </li>
    </ul>
  </div>
</footer>
