<header
  class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto mb-6"
>
  <span></span>

  <nav
    class="fixed flex flex-row
    rounded-full bg-black/80 text-white/90
    gap-x-2 sm:gap-x-5 text-sm sm:text-base overflow-x-auto whitespace-nowrap font-bold p-3"
  >
    <a href="#top" class="hover:text-yellow-200/100">Inicio</a>
    <a href="#experiencia" class="hover:text-yellow-200/100">Experiencia</a>
    <a href="#proyectos" class="hover:text-yellow-200/100">Proyectos</a>
    <a href="#sobre-mi" class="hover:text-yellow-200/100">Sobre mi</a>
    <a href="/contactos" class="hover:text-yellow-200/100">Contacto</a>
  </nav>
</header>
